/* background colour of the webpage */

*{
    background-color: #0a0a0a;
}

/* navigation bar properties */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5px;
}

/* navigation button properties */

.nav_button{
    padding: 10px;
}

/* navigation links properties */

.nav_links{
    margin: 2px 20px;
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
}

/* display sneakers section properties */

#main_section{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin: 300px 10px;
}

/* back button properties */

#back_button{
    transform: rotate(180deg);
}

/* shoes image properties */

#air_max{
    max-width: 700px;
    position: absolute;
    max-height: auto;
    background-color: #00000000;
    z-index: 2;  
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-22.5deg); 
}

/* background solid heading properties */

#back_heading{
    font-family: Ubuntu;
    position: absolute;
    font-size: 185px;
    font-weight: 500;
    color: white;
    background-color: #00000000;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
}

/* front outline heading properties */

#front_heading{
    font-family: Ubuntu;
    position: absolute;
    font-size: 185px;
    font-weight: 500;
    color: #00000000;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1.5px;
    z-index: 3;
    background-color: #00000000;
    left: 50%;
    transform: translate(-50%);
}